<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MONOTODO</title>
  <link rel="stylesheet" href="static\styles.css">
</head>

<body>
    <div class="welcome-box">
      <p>Welcome to MONOTODO. Your distraction free todo-list. Add your tasks and be productive! </p>
    </div>

    <div class="container">
      <button class="button" id="todo">Add ToDo</button>

      <div class="button-group">
        <button class="button" id="start-pomodoro">Start Pomodoro</button>
        <button class="button" id="settings">⚙️</button>
      </div>

      <!-- ToDo List -->
      <ul class="task-list">
        {% for todo in todos %}
        <li class="task">
          <div class="task-content">
            <span class="task-title">{{ todo.title }}</span>
            <sub class="task-tag">{{ todo.tag }}</sub>
          </div>
          <!-- Complete and Delete buttons -->
          <div class="task-actions">
            <button class="button" onclick="location.href='/toggle-complete/{{ todo.id }}'">
              {% if todo.complete %} Incomplete {% else %} Complete {% endif %}
            </button>
            <button class="button" onclick="location.href='/delete-todo/{{ todo.id }}'">Delete</button>
          </div>
        </li>
        {% endfor %}
      </ul>


      <!-- For new task -->
      <form action="/add-todo" method="post" class="hidden" id="add-todo-form">
        <input type="text" name="title" placeholder="Enter task title" required>
        <input type="text" name="tag" placeholder="Enter task tag">
        <input type="submit" value="Add Todo">
      </form>      

      <div id="pomodoro-timer">
        <div id="timer">50:00</div>
        <div id="set">Set 1/3</div>
      </div>      
    </div>

    <!-- Settings Panel -->
    <div id="settings-panel">
      <!-- Existing settings options -->
      <div class="settings-option">
        <label for="dark-mode-toggle">Dark/Light Mode</label>
        <input type="checkbox" id="dark-mode-toggle">
      </div>
    
      <div class="settings-option">
        <label for="bubbles-toggle">Bubble Effect</label>
        <input type="checkbox" id="bubbles-toggle" checked>
      </div>
    
      <!-- New settings options -->
      <div class="settings-option">
        <button class="button" id="clear-tasks-button">Clear All Tasks</button>
      </div>
    
      <!-- Close button to hide settings panel -->
      <button class="button" id="close-settings">Close</button>
    </div>

  <script src="static\scripts.js"></script>
</body>

</html>
